*

!*.*

!*/

*.DS_Store
*.nc
*.gif
*.ipynb_checkpoints/
*.png
*.out
*.txt
*direct_output_rh4_40962_noamr.csv
*direct_output_rh4_10242_noamr.csv
*fast_output_rh4_10242_noamr.csv
*.mp4
*/plots-and-figures/
*/run-output/